@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    display: flex;
}

.left{
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0b1220;
}

.logo{
    margin-top: 15px;
    border-bottom: 1px solid #ded9d9;
    
}
.logo img{
    width: 130px;
    margin-left: 3vh;
    
}

.content-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    gap: 10px;
    margin-top: 30%;
}

.links-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10%;
    gap: 20px;
}

.links-container p:hover{
    color: #0ea5e9;
}

.btn-logout{
    width: 100%;
    margin-top: 50vh;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #2f9fd6;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn-logout h3{
    display: flex;
    justify-self: center;
    align-self: center;
}

.btn-logout:hover{
    color: #ffffff;
}

.link-selected{
    width: 100%;
    background-color: #0f2238;
    
}