@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background-color: #0b1220; 
    border-bottom: 1px solid #ded9d9;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.logo img {
    width: 120px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #cbd5e1;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: white;
}

.nav-links .btn {
    background-color: #38bdf8;
    color: #0b1a2b;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;
}

.nav-links .btn:hover {
    background-color: #0ea5e9;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    background-color: #0b1a2b;
    color: white;
}


.hero-text {
    max-width: 500px;
}

.subtitle {
    color: #38bdf8;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 900;
}

.hero-text span {
    color: #38bdf8;
}

.description {
    color: #94a3b8;
    margin: 20px 0 30px;
    font-size: 18px;
}


.buttons {
    display: flex;
    gap: 15px;
}

.btn-primary {
    background-color: #38bdf8;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn-secondary {
    background: transparent;
    border: 1px solid #38bdf8;
    color: #38bdf8;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}


.hero-image img {
    width: 500px;
    border-radius: 10px;
}

.section2 {
    background-color: #102134;
    padding: 80px 60px;
    color: white;
    text-align: center;
}


.anuncio h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 15px;
}

.anuncio span {
    color: #38bdf8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 50px;
}


.card {
    background-color: #0f2238;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid rgba(56, 189, 248, 0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
    border-color: #38bdf8;
}


.card-icon {
    background-color: rgba(56, 189, 248, 0.1);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card-icon img {
    width: 22px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.card p {
    color: #94a3b8;
    font-size: 14px;
    line-height: 1.4;
}

.section3 {
    background-color: #0b1a2b;
    padding: 80px 60px;
    color: white;
    text-align: center;
}


.section3 h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.section3 span {
    color: #38bdf8;
}


.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: left;
}


.step {
    max-width: 250px;
}


.numero {
    font-size: 40px;
    font-weight: 900;
    color: #1e3a5f; 
    display: block;
    margin-bottom: 15px;
}


.step h3 {
    margin-bottom: 10px;
}


.step p {
    color: #94a3b8;
    font-size: 14px;
    line-height: 1.4;
}

.section4 {
    background-color: #0b1a2b;
    padding: 80px 60px;
    color: white;
    text-align: center;
}

.top{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top .subtitle{
    font-size: 14px;
}

.top h2{
    font-size: 35px;
}

.top .description{
    font-size: 18px;
}

.imc-box {
    margin-top: 40px;
    background-color: #0f2238;
    border-radius: 12px;
    padding: 50px 90px;
    border: 1px solid #38bdf833;
    max-width: 800px;
    margin: 40px auto 0;
}


.inputs {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.input-group {
    flex: 1;
}

.label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.label span {
    font-size: 20px;
    color: #94a3b8;
}

.label div {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.label input {
    font-size: 28px;
    font-weight: 700;
    background: transparent;
    border: none;
    color: white;
    width: 70px;
    text-align: right;
}

.label div span {
    font-size: 14px;
    color: #94a3b8;
}

input[type="range"] {
    width: 100%;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #64748b;
    margin-top: 5px;
}

.boxResultado{
    display: none;
}

.resultado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #38bdf80d;
    border: 1px solid #36b5ec0d;
    border-radius: 12px;

    padding: 25px 30px;
    margin-bottom: 20px;

    position: relative;
}

.resultado::before {
    content: "";
    width: 1px;
    height: 60px;
    background-color: #ffffff33;
    position: absolute;
    left: 35%;
}

.imc-valor p{
    font-size: 12px;
    color: #94a3b8;
    margin-bottom: 5px;
    
}

.imc-valor h1 {
    font-size: 64px;
    font-weight: 800;
}

.imc-info {
    text-align:left;
    max-width: 300px;
    margin-right: 40px;
}

.imc-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.imc-info p {
    color: #94a3b8;
    font-size: 17px;
    margin-bottom: 10px;
}

.cta p{
    color: #fbfbfb;
    font-size: 17px;
    margin-bottom: 10px;
}


footer{ 
    display: flex; 
    flex-direction: row; 
    background-color: #0b1220; 
    border-top: 1px solid #ffff; 
    font-size: 15px; 
    padding: 25px;
        
} 

.logo-fit img{ 
    width: 100px; 
    margin-left: 4rem; 
} 

.center{ 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    color: #ffff; 
    margin-left: 16%; 

} 

.links{ 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: right; 
    gap: 10px;
    margin-left: 10%;


}

.links a{ 
    text-decoration: none; 
    color: #ffffff; 

} 

.links a:hover{
    color: #3b82f6;
}